body {
  background: #ececec;
   
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  
  font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  margin: auto;
  background: #ececec;
  
  padding: 10px 10px;
  width: 1100px;
  
  height: 500px;

}

.main-side {
  background: #87ceeb;
  width: 300px;
  height: 700px;
  padding: 10px 10px 10px 10px;
}
.main-foot {
   
   background: #ececec;
}

.imageclass {
  width: 1030px;
  height: 550px;
}
.imageclass2 { 
  width: 1030px;
  height: 550px;

}

.imageclass3 {
  width: 1050px;
  height: 550px;
}

.imageclass4 {
  width: 1030px;
  height: 550px;
}


